<div class="party_cont">
	<h2 id="login">Parties List</h2>
	<hr id="hr">
	<div class="cont">
		<h3>Party Title 1</h3>
		<p>Lorem ipsum dolor sit amet, dictas complectitur has et. Ad minim mediocrem quo. In sit malis philosophia, eam debet percipit in. Eum elitr integre te, pro ad tritani voluptua disputando. Nam an altera invidunt praesent, ne denique interesset mea, his mazim vitae audire an. Novum persius ad vix, ea eum everti latine facilisi.
		</p>
	</div>
	<hr id="hr">
	<div class="cont">
		<h3>Party Title 2</h3>
		<p>Lorem ipsum dolor sit amet, dictas complectitur has et. Ad minim mediocrem quo. In sit malis philosophia, eam debet percipit in. Eum elitr integre te, pro ad tritani voluptua disputando. Nam an altera invidunt praesent, ne denique interesset mea, his mazim vitae audire an. Novum persius ad vix, ea eum everti latine facilisi.
		</p>
	</div>
</div>