<div class="party_cont">
	<div class="toolbar">
		<h4 id="welcome">Hi {{currentUser.name}}</h3>
		<h4 id="logout" ng-click="logout()">Log out!</h3>
		<h2>Parties List</h2>
	</div>
	<hr id="hr">
	<div class="cont">
		<h3>Ascend Event Planning Spring 2015 Party</h3>
		<h5 class="place">Where: Cece's house</h4>
		<h5 class="time">When: 6:00PM on 5/22/2015</h4>
		<p class="description">Lorem ipsum dolor sit amet, dictas complectitur has et. Ad minim mediocrem quo. In sit malis philosophia, eam debet percipit in. Eum elitr integre te, pro ad tritani voluptua disputando. Nam an altera invidunt praesent, ne denique interesset mea, his mazim vitae audire an. Novum persius ad vix, ea eum everti latine facilisi.
		</p>
		<h4 class="checkin">Check in here <i class="fa fa-check fa-3x" ng-click="go('/checkinList')"></i></h5>
	</div>
</div>